extends layout

block declarations
    - body_class = 'homepage';
    - include_remote = false;
    - use_angular           = true;
    - angular_app           = "dashboardApp";
    - angular_body_ctrl     = "dashboardCtrl";

block additional_scripts
    script(src="/core/js/plugins/qrcode/qrcode.min.js")
    script(src="/core/js/qrcode-generator.js")
    script(src="/app/app.js")
    script(src="/app/dashboard.controller.js")
    script(src="/app/data-time.directive.js")
    script(src="/app/tile.directive.js")
    script(src="/core/js/plugins/jquery/jquery.slimscroll.min.js")
    script.
        $(function(){
            var isTouch = "ontouchstart" in document.documentElement;
            if(!isTouch){
                $('#inner-slim').slimScroll({
                    height: '100%',
                    width: '100%'
                });
            }
        });

block additional_css
    link(href="/index.css", rel="stylesheet")

block body
    #mainbody
        header
            .container-fluid
                .row
                    .col-md-8.col-xs-12
                        img.logo(src="/core/css/img/logo.png")
                        h1 MediacenterJS
                        -if(allowed === 'no')
                            h4 Parental lock enabled
                        div.upgrade-right.boxed(ng-show="newVersion && !updating")
                            a.btn.upgrade(ng-click="doUpdate()") New version {{newVersion}} Available
                    .col-md-4.hidden-xs
                        #dateandtime
                            date-time.time(format="H:mm:ss")
                            date-time.date(format="dd-MM-yyyy")
        .container-fluid#inner-slim(style="overflow:auto; height:100%;")
            .row
                .col-md-12
                    .message(ng-show="updating") Downloading and installing update
                        br
                        Please wait for the installation to finish...
                    #tilesContainer.row(mcjs-library, style="margin:5px 5% 0 5%;", ng-hide="updating")
                        tile(ng-repeat="item in apps | orderBy:'priority':true", item="item")
    //- link(rel='stylesheet', ng-href='{{item.tileCSS}}', ng-if="item.tileCSS", ng-repeat="item in apps")
